@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 250 252;
    --foreground: 15 23 42;
    --card: 255 255 255;
    --card-foreground: 15 23 42;
    --popover: 255 255 255;
    --popover-foreground: 15 23 42;
    --primary: 37 99 235;
    --primary-foreground: 248 250 252;
    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;
    --muted: 241 245 249;
    --muted-foreground: 100 116 139;
    --accent: 99 102 241;
    --accent-foreground: 15 23 42;
    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;
    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 37 99 235;
    --chart-1: 12 74 110;
    --chart-2: 53 162 235;
    --chart-3: 251 191 36;
    --chart-4: 245 101 101;
    --chart-5: 139 92 246;
    --radius: 0.5rem;
  }

  .dark {
    --background: 15 23 42;
    --foreground: 248 250 252;
    --card: 30 41 59;
    --card-foreground: 248 250 252;
    --popover: 30 41 59;
    --popover-foreground: 248 250 252;
    --primary: 99 102 241;
    --primary-foreground: 15 23 42;
    --secondary: 51 65 85;
    --secondary-foreground: 248 250 252;
    --muted: 51 65 85;
    --muted-foreground: 148 163 184;
    --accent: 99 102 241;
    --accent-foreground: 248 250 252;
    --destructive: 239 68 68;
    --destructive-foreground: 248 250 252;
    --border: 51 65 85;
    --input: 51 65 85;
    --ring: 99 102 241;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;

    font-feature-settings: "rlig" 1, "calt" 1;
  }
}